<div class="container">
        <a href="{% url 'dashboard:deals:bankcreate' %}"><button type="button" class="btn btn-success">Add New Bank</button></a>

    <a data-toggle="modal" data-target="#myModal" class="btn btn-primary pull-right">Add Bank</a>

    <table class="table table-striped table-bordered table-responsive table-hover">
        <thead class="thalpha">
        <tr>

            <th rowspan="2" style="width:100px;">Bank Name</th>
            <th rowspan="2" style="width:100px;">Company</th>
            <th rowspan="2" style="width:100px;">Postal Address</th>
            <th rowspan="2" style="width:50px;">Mobile</th>

            <th rowspan="2" style="width:50px;">Email</th>
            <th rowspan="2" style="width:50px;">Edit</th>
            <th rowspan="2" style="width:50px;">Delete</th>
        </tr>

        </thead>

        <tbody class="tbalpha">


        </tbody>
        {% for bank in bank_list %}
        <tr id="hide">

            <td>{{bank.name}}</td>
            <td>{{bank.company}}</td>
            <td>{{bank.address}}</td>
            <td>{{bank.phone}}</td>
            <td>{{bank.email}}</td>


            <td><a href="{% url 'dashboard:deals:bankupdate' bank.id %}" class="btn btn-primary btn-xs" >Edit</a>
            </td>
            <td><a href="{% url 'dashboard:deals:bankdelete' bank.id %}" class="btn btn-danger btn-xs" >Delete</a>
            </td>

        </tr>
        {% endfor %}


    </table>


</div>
<script>
   $(".modal-body").load("{% url 'dashboard:deals:bankcreate' %}");
</script>
