<ul class="nav nav-tabs">
  <li id="purchase-details"><a href="{% url 'dashboard:deals:purchase_details' deal_id %}">Purchase</a></li>
  <li id="comparable-sales"><a href="{% url 'dashboard:deals:purchase_comparable_sales' deal_id %}">Comparable Sales</a></li>
  <li id="purchase-feasibility-report"><a href="{% url 'dashboard:deals:purchase_feasibility_report' deal_id %}">Feasibility Report</a></li>
  <li id="sale-details"><a href="{% url 'dashboard:deals:sale_details' deal_id %}">Sale</a></li>
  <li id="sale-comparable-sales"><a href="{% url 'dashboard:deals:sale_comparable_sales' deal_id %}">Comparable Sales</a></li>
</ul>