{% extends "dashboard/base.html" %}
{% load widget_tweaks %}

{% block title %} Dashboard{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <a href="{% url 'dashboard:leads:index' category %}" class="btn btn-primary" id="go-back-btn">Go Back</a><h2>Add Lead: {{category|title}}</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br>
              <form method="POST" action="" class="form-horizontal form-label-left">
                {% csrf_token %}
                {{ wizard.management_form }}

                {% if category == 'divorce' %}
                  {{ wizard.form.management_form }}
                  {% for form in wizard.form.forms %}

                    {% if form.errors %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="form-wizard-form"> <!-- This class will be used to clone the form when the user clicks on 'Add Owner' -->
                      <div class="hidden">{{ form.id }}</div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12">
                          <h2 class="form-title">Solicitor {{ forloop.counter }} Details</h2>
                        </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.company.label }}
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              {{ form.company|add_error_class:"ve-sh-error-block" }}
                            </div>
                            <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                              {% for error in form.company.errors %}
                                {{ error|escape }}
                              {% endfor %}
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.abn_or_acn.label }}
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              {{ form.abn_or_acn|add_error_class:"ve-sh-error-block" }}
                            </div>
                            <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                              {% for error in form.abn_or_acn.errors %}
                                {{ error|escape }}
                              {% endfor %}
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.abn_or_acn_number.label }}
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              {{ form.abn_or_acn_number|add_error_class:"ve-sh-error-block" }}
                            </div>
                            <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                              {% for error in form.abn_or_acn_number.errors %}
                                {{ error|escape }}
                              {% endfor %}
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.contact_name.label }}
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              {{ form.contact_name|add_error_class:"ve-sh-error-block" }}
                            </div>
                            <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                              {% for error in form.contact_name.errors %}
                                {{ error|escape }}
                              {% endfor %}
                            </div>
                          </div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12">
                          <p class="h5">Street Address</p>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.unit.label }}
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.unit|add_error_class:"ve-sh-error-block" }}
                          </div>
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                            {% for error in form.unit.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.number.label }}
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.number|add_error_class:"ve-sh-error-block" }}
                          </div>
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                            {% for error in form.number.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.street.label }}
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.street|add_error_class:"ve-sh-error-block" }}
                          </div>
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                            {% for error in form.street.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.suburb.label }}
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.suburb|add_error_class:"ve-sh-error-block" }}
                          </div>
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                            {% for error in form.suburb.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.state.label }}
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.state|add_error_class:"ve-sh-error-block" }}
                          </div>
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                            {% for error in form.state.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.post_code.label }}
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.post_code|add_error_class:"ve-sh-error-block" }}
                          </div>
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                            {% for error in form.post_code.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12">
                          <p class="h5">Postal Address</p>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.po_box.label }}
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.po_box|add_error_class:"ve-sh-error-block" }}
                          </div>
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                            {% for error in form.po_box.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.postal_suburb.label }}
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.postal_suburb|add_error_class:"ve-sh-error-block" }}
                          </div>
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                            {% for error in form.postal_suburb.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.postal_state.label }}
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.postal_state|add_error_class:"ve-sh-error-block" }}
                          </div>
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                            {% for error in form.postal_state.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.postal_post_code.label }}
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.postal_post_code|add_error_class:"ve-sh-error-block" }}
                          </div>
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                            {% for error in form.postal_post_code.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12">
                          <p class="h5">Contact Details</p>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.mobile.label }}
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.mobile|add_error_class:"ve-sh-error-block" }}
                          </div>
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                            {% for error in form.mobile.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.office_phone.label }}
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.office_phone|add_error_class:"ve-sh-error-block" }}
                          </div>
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                            {% for error in form.office_phone.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.office_fax.label }}
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.office_fax|add_error_class:"ve-sh-error-block" }}
                          </div>
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                            {% for error in form.office_fax.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.email.label }}
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.email|add_error_class:"ve-sh-error-block" }}
                          </div>
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                            {% for error in form.email.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.website.label }}
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              {{ form.website|add_error_class:"ve-sh-error-block" }}
                            </div>
                            <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                              {% for error in form.website.errors %}
                                {{ error|escape }}
                              {% endfor %}
                            </div>
                          </div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12">
                          <p class="h5">Reference</p>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.reference.label }}
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.reference|add_error_class:"ve-sh-error-block" }}
                          </div>
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                            {% for error in form.reference.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        </div>

                        {% if category == 'sheriff' %}
                          <div class="form-group">
                            <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12">
                              <p class="h5">Note: Please fill out the auction details in the overview page of the deal card (By clicking on a lead from the leads table)</p>
                            </div>
                          </div>
                        {% endif %}
                    </div>
                  {% endfor %}
                {% else %}
                  {% if form.errors %}
                      {% for error in form.non_field_errors %}
                          <div class="alert alert-danger">
                              <strong>{{ error|escape }}</strong>
                          </div>
                      {% endfor %}
                  {% endif %}

                  <div class="form-wizard-form"> <!-- This class will be used to clone the form when the user clicks on 'Add Owner' -->
                    <div class="hidden">{{ form.id }}</div>
                      {% if category != 'sheriff' %}
                      <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12">
                        <h2 class="form-title">Is There A {% if category == 'liquidation' %}Liquidator {% else %} Solicitor {% endif %}</h2>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Is There A {% if category == 'liquidation' %}Liquidator {% else %} Solicitor {% endif %}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.is_solicitor|add_error_class:"ve-sh-error-block" }}
                        </div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                          {% for error in form.is_solicitor.errors %}
                            {{ error|escape }}
                          {% endfor %}
                        </div>
                      </div>
                      <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12">
                        <h2 class="form-title">{% if category == 'liquidation' %}Liquidator {% else %} Solicitor {% endif %}Details</h2>
                      </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.company.label }}
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.company|add_error_class:"ve-sh-error-block" }}
                          </div>
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                            {% for error in form.company.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.abn_or_acn.label }}
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.abn_or_acn|add_error_class:"ve-sh-error-block" }}
                          </div>
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                            {% for error in form.abn_or_acn.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.abn_or_acn_number.label }}
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.abn_or_acn_number|add_error_class:"ve-sh-error-block" }}
                          </div>
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                            {% for error in form.abn_or_acn_number.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.contact_name.label }}
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.contact_name|add_error_class:"ve-sh-error-block" }}
                          </div>
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                            {% for error in form.contact_name.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        </div>
                      {% else %}
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12">
                          <h2 class="form-title">Sheriff Details</h2>
                        </div>
                      {% endif %}
                      <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12">
                        <p class="h5">Street Address</p>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.unit.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.unit|add_error_class:"ve-sh-error-block" }}
                        </div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                          {% for error in form.unit.errors %}
                            {{ error|escape }}
                          {% endfor %}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.number.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.number|add_error_class:"ve-sh-error-block" }}
                        </div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                          {% for error in form.number.errors %}
                            {{ error|escape }}
                          {% endfor %}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.street.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.street|add_error_class:"ve-sh-error-block" }}
                        </div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                          {% for error in form.street.errors %}
                            {{ error|escape }}
                          {% endfor %}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.suburb.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.suburb|add_error_class:"ve-sh-error-block" }}
                        </div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                          {% for error in form.suburb.errors %}
                            {{ error|escape }}
                          {% endfor %}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.state.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.state|add_error_class:"ve-sh-error-block" }}
                        </div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                          {% for error in form.state.errors %}
                            {{ error|escape }}
                          {% endfor %}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.post_code.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.post_code|add_error_class:"ve-sh-error-block" }}
                        </div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                          {% for error in form.post_code.errors %}
                            {{ error|escape }}
                          {% endfor %}
                        </div>
                      </div>
                      <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12">
                        <p class="h5">Postal Address</p>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.po_box.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.po_box|add_error_class:"ve-sh-error-block" }}
                        </div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                          {% for error in form.po_box.errors %}
                            {{ error|escape }}
                          {% endfor %}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.postal_suburb.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.postal_suburb|add_error_class:"ve-sh-error-block" }}
                        </div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                          {% for error in form.postal_suburb.errors %}
                            {{ error|escape }}
                          {% endfor %}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.postal_state.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.postal_state|add_error_class:"ve-sh-error-block" }}
                        </div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                          {% for error in form.postal_state.errors %}
                            {{ error|escape }}
                          {% endfor %}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.postal_post_code.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.postal_post_code|add_error_class:"ve-sh-error-block" }}
                        </div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                          {% for error in form.postal_post_code.errors %}
                            {{ error|escape }}
                          {% endfor %}
                        </div>
                      </div>
                      <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12">
                        <p class="h5">Contact Details</p>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.mobile.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.mobile|add_error_class:"ve-sh-error-block" }}
                        </div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                          {% for error in form.mobile.errors %}
                            {{ error|escape }}
                          {% endfor %}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.office_phone.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.office_phone|add_error_class:"ve-sh-error-block" }}
                        </div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                          {% for error in form.office_phone.errors %}
                            {{ error|escape }}
                          {% endfor %}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.office_fax.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.office_fax|add_error_class:"ve-sh-error-block" }}
                        </div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                          {% for error in form.office_fax.errors %}
                            {{ error|escape }}
                          {% endfor %}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.email.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.email|add_error_class:"ve-sh-error-block" }}
                        </div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                          {% for error in form.email.errors %}
                            {{ error|escape }}
                          {% endfor %}
                        </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.website.label }}
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form.website|add_error_class:"ve-sh-error-block" }}
                          </div>
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                            {% for error in form.website.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        </div>
                      <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12">
                        <p class="h5">Reference</p>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.reference.label }}
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form.reference|add_error_class:"ve-sh-error-block" }}
                        </div>
                        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                          {% for error in form.reference.errors %}
                            {{ error|escape }}
                          {% endfor %}
                        </div>
                      </div>

                      {% if category == 'sheriff' %}
                        <div class="form-group">
                          <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12">
                            <p class="h5">Note: Please fill out the auction details in the overview page of the deal card (By clicking on a lead from the leads table)</p>
                          </div>
                        </div>
                      {% endif %}
                    </div>
                {% endif %}

                <div class="ln_solid"></div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    {% if wizard.steps.prev %}
                      <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" class="btn btn-primary">First Step</button>
                      <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-primary">Prev Step</button>
                    {% else %}
                      <button class="btn btn-default" disabled>First Step</button>
                      <button class="btn btn-default" disabled>Prev Step</button>
                    {% endif %}
                    <input type="submit" value="Submit" class="btn btn-success" id="form-wizard-submit-btn" />
                    <button class="btn btn-default" disabled>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</button>
                  </div>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>

    <div class="clearfix"></div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <script type="text/javascript">

    // sidebar styling
    $('.side-menu').children().removeClass('active');
    $('#home').addClass('active');

     $('#id_4-is_solicitor').on('change', function(){
        if($(this).val() == 'No'){
          $('input').each(function(){
            if ($(this).attr('type') != 'hidden') if ($(this).attr('type') != 'submit') {
              $(this).attr('disabled', true);
            }
          });
          $('#id_4-abn_or_acn').val('');
          $('#id_4-abn_or_acn_number').val('');
          $('#id_4-abn_or_acn').attr('disabled', true);
        }
        else{
          $('input').each(function(){
            if ($(this).attr('type') != 'hidden') if ($(this).attr('type') != 'submit') {
              $(this).attr('disabled', false);
            }
          });
          $('#id_4-abn_or_acn').attr('disabled', false);
        }
     });

     if ($('#id_4-is_solicitor').val() == 'No'){
      $('input').each(function(){
        if ($(this).attr('type') != 'hidden') if ($(this).attr('type') != 'submit') {
          $(this).attr('disabled', true);
        }
      });
      $('#id_4-abn_or_acn').val('');
      $('#id_4-abn_or_acn_number').val('');
      $('#id_4-abn_or_acn').attr('disabled', true);
    }

  </script>
{% endblock javascripts %}