
{% extends "dashboard/base.html" %}
{% load widget_tweaks %}

{% block title %} Add Contact {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <a href="{% url 'dashboard:deals:inspection_entry_details' deal_id %}" class="btn btn-primary" id="go-back-btn">Go Back</a><h2>Add New Entry</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
              <form method="POST" action="" class="form-horizontal form-label-left">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  </div>
                </div>
                {% csrf_token %}

                <div class="hidden">{{ form.id }}</div>
                <div class="col-sm-offset-3 col-md-6 col-sm-6 col-xs-12">
                  <h2 class="form-title">Entry {{ forloop.counter }} Details</h2>
                </div>
                <div class="x_content">
                  {% if form.errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                  {% endif %}

                  <p class='h5 col-sm-offset-3 col-sm-9 col-xs-12'>Floor</p>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.floors.label }}
                    </label>
                    <div class="col-md-2 col-sm-2 col-xs-12 ve-sh-width-twenty">
                      <div class="form-fields">
                        {{ form.floors }}
                      </div>
                      <div class="ve-sh-error-text">
                        {% for error in form.floors.errors %}
                          {{ error|escape }}
                        {% endfor %}
                      </div>
                    </div>
                    <label class="control-label col-md-2 col-sm-2 col-xs-12 ve-sh-width-ten">{{ form.floors_condition.label }}
                    </label>
                    <div class="col-md-2 col-sm-2 col-xs-12 ve-sh-width-twenty">
                      <div>
                        {{ form.floors_condition|add_error_class:"ve-sh-error-block" }}
                      </div>
                      <div class="ve-sh-error-text">
                        {% for error in form.floors_condition.errors %}
                          {{ error|escape }}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12 ve-sh-padding-null">{{ form.floors_comments.label }}
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {{ form.floors_comments|add_error_class:"ve-sh-error-block" }}
                    </div>
                    <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                      {% for error in form.floors_comments.errors %}
                        {{ error|escape }}
                      {% endfor %}
                    </div>
                  </div>
                  <p class='h5 col-sm-offset-3 col-sm-9 col-xs-12'>Ceiling</p>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.ceiling.label }}
                    </label>
                    <div class="col-md-2 col-sm-2 col-xs-12 ve-sh-width-twenty">
                      <div class="form-fields">
                        {{ form.ceiling|add_error_class:"ve-sh-error-block" }}
                      </div>
                      <div class="ve-sh-error-text">
                        {% for error in form.ceiling.errors %}
                          {{ error|escape }}
                        {% endfor %}
                      </div>
                    </div>
                    <label class="control-label col-md-2 col-sm-2 col-xs-12 ve-sh-width-ten">{{ form.ceiling_condition.label }}
                    </label>
                    <div class="col-md-2 col-sm-2 col-xs-12 ve-sh-width-twenty">
                      <div>
                        {{ form.ceiling_condition|add_error_class:"ve-sh-error-block" }}
                      </div>
                      <div class="ve-sh-error-text">
                        {% for error in form.ceiling_condition.errors %}
                          {{ error|escape }}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12 ve-sh-padding-null">{{ form.ceiling_comments.label }}
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {{ form.ceiling_comments|add_error_class:"ve-sh-error-block" }}
                    </div>
                    <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                      {% for error in form.ceiling_comments.errors %}
                        {{ error|escape }}
                      {% endfor %}
                    </div>
                  </div>
                  <p class='h5 col-sm-offset-3 col-sm-9 col-xs-12'>Walls</p>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.walls.label }}
                    </label>
                    <div class="col-md-2 col-sm-2 col-xs-12 ve-sh-width-twenty">
                      <div class="form-fields">
                        {{ form.walls|add_error_class:"ve-sh-error-block" }}
                      </div>
                      <div class="ve-sh-error-text">
                        {% for error in form.walls.errors %}
                          {{ error|escape }}
                        {% endfor %}
                      </div>
                    </div>
                    <label class="control-label col-md-2 col-sm-2 col-xs-12 ve-sh-width-ten">{{ form.walls_condition.label }}
                    </label>
                    <div class="col-md-2 col-sm-2 col-xs-12 ve-sh-width-twenty">
                      <div>
                        {{ form.walls_condition|add_error_class:"ve-sh-error-block" }}
                      </div>
                      <div class="ve-sh-error-text">
                        {% for error in form.walls_condition.errors %}
                          {{ error|escape }}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12 ve-sh-padding-null">{{ form.walls_comments.label }}
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {{ form.walls_comments|add_error_class:"ve-sh-error-block" }}
                    </div>
                    <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                      {% for error in form.walls_comments.errors %}
                        {{ error|escape }}
                      {% endfor %}
                    </div>
                  </div>
                  <p class='h5 col-sm-offset-3 col-sm-9 col-xs-12'>Light Fitting</p>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.light_fittings.label }}
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {{ form.light_fittings|add_error_class:"ve-sh-error-block" }}
                    </div>
                    <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                      {% for error in form.light_fittings.errors %}
                        {{ error|escape }}
                      {% endfor %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.light_fittings_comments.label }}
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {{ form.light_fittings_comments|add_error_class:"ve-sh-error-block" }}
                    </div>
                    <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                      {% for error in form.light_fittings_comments.errors %}
                        {{ error|escape }}
                      {% endfor %}
                    </div>
                  </div>
                  <p class='h5 col-sm-offset-3 col-sm-9 col-xs-12'>Window</p>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Window Present
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12 present">
                      {{ form.window_present|add_error_class:"ve-sh-error-block" }}
                    </div>
                    <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                      {% for error in form.window_present.errors %}
                        {{ error|escape }}
                      {% endfor %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Window Dimentions <small>(mm)</small>
                    </label>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                      <div>
                        {{ form.window_length|add_error_class:"ve-sh-error-block" }}
                      </div>
                      <div class='ve-sh-error-text'>
                        {% for error in form.window_length.errors %}
                          {{ error|escape }}
                        {% endfor %}
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                      <div>
                        {{ form.window_width|add_error_class:"ve-sh-error-block" }}
                      </div>
                      <div class='ve-sh-error-text'>
                        {% for error in form.window_width.errors %}
                          {{ error|escape }}
                        {% endfor %}
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                      <div>
                        {{ form.window_height|add_error_class:"ve-sh-error-block" }}
                      </div>
                      <div class='ve-sh-error-text'>
                        {% for error in form.window_height.errors %}
                          {{ error|escape }}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <p class='h5 col-sm-offset-3 col-sm-9 col-xs-12'>Sliding Door</p>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Sliding Door Present
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12 present">
                      {{ form.sliding_door_present|add_error_class:"ve-sh-error-block" }}
                    </div>
                    <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                      {% for error in form.sliding_door_present.errors %}
                        {{ error|escape }}
                      {% endfor %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Sliding Door Dimentions <small>(mm)</small>
                    </label>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                      <div>
                        {{ form.sliding_door_length|add_error_class:"ve-sh-error-block" }}
                      </div>
                      <div class='ve-sh-error-text'>
                        {% for error in form.sliding_door_length.errors %}
                          {{ error|escape }}
                        {% endfor %}
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                      <div>
                        {{ form.sliding_door_width|add_error_class:"ve-sh-error-block" }}
                      </div>
                      <div class='ve-sh-error-text'>
                        {% for error in form.sliding_door_width.errors %}
                          {{ error|escape }}
                        {% endfor %}
                      </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                      <div>
                        {{ form.sliding_door_height|add_error_class:"ve-sh-error-block" }}
                      </div>
                      <div class='ve-sh-error-text'>
                        {% for error in form.sliding_door_height.errors %}
                          {{ error|escape }}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <p class='h5 col-sm-offset-3 col-sm-9 col-xs-12'>Curtains</p>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.curtains_or_blinds.label }}
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {{ form.curtains_or_blinds|add_error_class:"ve-sh-error-block" }}
                    </div>
                    <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                      {% for error in form.curtains_or_blinds.errors %}
                        {{ error|escape }}
                      {% endfor %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">{{ form.curtains_comments.label }}
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      {{ form.curtains_comments|add_error_class:"ve-sh-error-block" }}
                    </div>
                    <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
                      {% for error in form.curtains_comments.errors %}
                        {{ error|escape }}
                      {% endfor %}
                    </div>
                  </div>

                <br>
                <div class="col-md-6 col-sm-6 col-xs-12 col-sm-offset-3">
                  <input type="submit" value="Submit" class="btn btn-success" />
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
   <script type="text/javascript">
    $('#property-details, #deal-card, #internal, #entry-details').addClass('active');

    $('select').on('change', function(){
      if ($(this).parent().hasClass('present')){
        if ($(this).val() == 'Yes'){
          $(this).parent().parent().next().children().find('input').each(function(){
            $(this).attr('disabled', false);
          });
        }
        else{
          $(this).parent().parent().next().children().find('input').each(function(){
            $(this).val('');
            $(this).attr('disabled', true);
          });
        }
      }

      if ($(this).parent().hasClass('form-fields')){
        if ($(this).val() == 'None'){
          $(this).parent().parent().next().next().children().children().attr('disabled', true);
        } else{
          $(this).parent().parent().next().next().children().children().attr('disabled', false);
        }
      }
    });

    // The below code will run on page load
    $('.present').children().each(function(){
      if ($(this).val() == 'Yes'){
        $(this).parent().parent().next().children().find('input').each(function(){
          $(this).attr('disabled', false);
        });
      }
      else{
        $(this).parent().parent().next().children().find('input').each(function(){
          $(this).attr('disabled', true);
        });
      }
    });

    $('.form-fields').children().each(function(){
      if ($(this).val() == 'None') {
        $(this).parent().parent().next().next().children().children().attr('disabled', true);
      } else {
        $(this).parent().parent().next().next().children().children().attr('disabled', false);
      }
    });
   </script>
{% endblock javascripts %}
