<ul class="nav nav-tabs">
  <li id="granny-flat-details"><a href="{% url 'dashboard:deals:inspection_granny_flat_details' deal_id %}">Granny Flat Details</a></li>
  <li id="entry-details" class="granny-flat-absent"><a href="{% url 'dashboard:deals:inspection_granny_flat_entry_details' deal_id %}">Entry Details</a></li>
  <li id="lounge-details" class="granny-flat-absent"><a href="{% url 'dashboard:deals:inspection_granny_flat_lounge_details' deal_id %}">Lounge Details</a></li>
  <li id="dining-details" class="granny-flat-absent"><a href="{% url 'dashboard:deals:inspection_granny_flat_dining_details' deal_id %}">Dining Details</a></li>
  <li id="kitchen-details" class="granny-flat-absent"><a href="{% url 'dashboard:deals:inspection_granny_flat_kitchen_details' deal_id %}">Kitchen Details</a></li>
  <li id="laundry-details" class="granny-flat-absent"><a href="{% url 'dashboard:deals:inspection_granny_flat_laundry_details' deal_id %}">Laundry Details</a></li>
  <li id="bathroom-details" class="granny-flat-absent"><a href="{% url 'dashboard:deals:inspection_granny_flat_bathroom_details' deal_id %}">Bathroom Details</a></li>
  <li id="bedroom-details" class="granny-flat-absent"><a href="{% url 'dashboard:deals:inspection_granny_flat_bedroom_details' deal_id %}">Bedroom Details</a></li>
</ul>