
<a onclick="addFormAjax()" class="btn btn-primary pull-right">Add Other</a>

{% if other_list %}
<div class="w-20 pull-right" style="padding:0 2px;margin:0 4px;">
    <select class="form-control" id="selectOther" >
        <option value="0"> Select Other </option>
        {% for other in select_list %}
         <option value="{{other.id}}">
            {{ other.name }}
          </option>
        {% endfor %}

    </select>
    </div>
    <table id="table" class="table table-striped">
      <thead>
        <tr>
         
          <th>Name</th>
          <th>Company</th>
          <th>Postal Address</th>
          <th>Mobile</th>  
          <th>Email</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for other in other_list %}
        <tr>
            
            
            <td>{{other.name}}</td>
            <td>{{other.company}}</td>
            <td>{{other.address}}</td>
            <td>{{other.phone}}</td>
            <td>{{other.email}}</td>

            <td><a onclick="editOther(this)" title="{% url 'dashboard:deals:other_edit' other.id %}" class="btn btn-info btn-xs">
                <i class="fa fa-pencil"></i> Edit</a></td>
            <td><a onclick="deleteOther(this)" title="{% url 'dashboard:deals:other_delete' other.id %}"
                   class="btn btn-danger btn-xs ve-sh-del-contact">
                <i class="fa fa-trash-o"></i> Delete</a></td>

        </tr>
      {% endfor %}




      </tbody>

    </table>


{% else %}
  <div class="p-4">
    No Other Found !
</div>
{% endif%}


<script>

    $('#selectOther').on('change', function (e) {
        loadOther(this.value);
    });
</script>



<script>
    function addFormAjax(){
    $('#myModal').modal('show');
    urlPATH="{% url 'dashboard:deals:other_create' %}";
    $('.modal-body').load(urlPATH);

    }

    function editOther(tag){
    $('#myModal').modal('show');
    urlPATH=tag.title;
    console.log(urlPATH);
    $('.modal-body').load(urlPATH);
    }

    function deleteOther(tag){
    $('#myModal').modal('show');
    urlPATH=tag.title;
    console.log(urlPATH);
    $('.modal-body').load(urlPATH);
    }

</script>


