{% load widget_tweaks %}
  <input type="text" class="hidden ve-sh-hidden-field" name="selected-location-id" value="{{location_id}}">
  <div class="form-group hidden">
    <label class="control-label col-md-3 col-sm-3 col-xs-12"> {{ selected_location_form.location.label }}</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {{ selected_location_form.location|add_error_class:"ve-sh-error-block" }} {{ selected_location_form.location.help_text }}
    </div>
    {% if selected_location_form.errors %}
      {% for error in selected_location_form.location.errors %}
        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
          {{ error|escape }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="form-group ">
    <label class="control-label col-md-3 col-sm-3 col-xs-12"> {{ selected_location_form.start_date.label }} <small>(Days)</small> </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {{ selected_location_form.start_date|add_error_class:"ve-sh-error-block" }} {{ selected_location_form.start_date.help_text }}
    </div>
    {% if selected_location_form.errors %}
      {% for error in selected_location_form.start_date.errors %}
        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
          {{ error|escape }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="form-group ">
    <label class="control-label col-md-3 col-sm-3 col-xs-12"> {{ selected_location_form.completion_date.label }} <small>(Days)</small> </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {{ selected_location_form.completion_date|add_error_class:"ve-sh-error-block" }} {{ selected_location_form.completion_date.help_text }}
    </div>
    {% if selected_location_form.errors %}
      {% for error in selected_location_form.completion_date.errors %}
        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
          {{ error|escape }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="form-group ">
    <label class="control-label col-md-3 col-sm-3 col-xs-12"> {{ selected_location_form.duration.label }} <small>(Days)</small> </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {{ selected_location_form.duration|add_error_class:"ve-sh-error-block" }} {{ selected_location_form.duration.help_text }}
    </div>
    {% if selected_location_form.errors %}
      {% for error in selected_location_form.duration.errors %}
        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
          {{ error|escape }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="form-group ">
    <label class="control-label col-md-3 col-sm-3 col-xs-12"> {{ selected_location_form.budget.label }} <small>($)</small> </label>
    <div class="col-md-6 col-sm-6 col-xs-12 ve-sh-number-js" title="Enter Value">
      {{ selected_location_form.budget|add_error_class:"ve-sh-error-block" }} {{ selected_location_form.budget.help_text }}
    </div>
    {% if selected_location_form.errors %}
      {% for error in selected_location_form.budget.errors %}
        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
          {{ error|escape }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
   <div class="form-group ">
    <label class="control-label col-md-3 col-sm-3 col-xs-12"> {{ selected_location_form.status.label }} </label>
    <div class="col-md-6 col-sm-6 col-xs-12 ve-sh-number-js" title="Enter Value">
      {{ selected_location_form.status|add_error_class:"ve-sh-error-block" }} {{ selected_location_form.status.help_text }}
    </div>
    {% if selected_location_form.errors %}
      {% for error in selected_location_form.status.errors %}
        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
          {{ error|escape }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
  {% include 'deals/renovation/renovation_external_details_navbar.html' %}
  <br>
  <div class="x_title">
    <h2>Location Overview</h2>
    <div class="clearfix"></div>
  </div>
  <div class="form-group ">
    <label class="control-label col-md-3 col-sm-3 col-xs-12"> {{ selected_location_form.thoughts.label }} </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {{ selected_location_form.thoughts|add_error_class:"ve-sh-error-block" }} {{ selected_location_form.thoughts.help_text }}
    </div>
    {% if selected_location_form.errors %}
      {% for error in selected_location_form.thoughts.errors %}
        <div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
          {{ error|escape }}
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="col-xs-12">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-sm-offset-3 col-sm-6 col-xs-12 ve-sh-left-pad-null">
        <input type="submit" value="Submit" class="btn btn-success" />
      </div>
    </div>
  </div>
{% block extra_javascripts %}

  <script type="text/javascript">
    $("#renovation-external, #deal-card, #renovation-details, #renovation-external-overview").addClass("active");

    $('#id_start_date, #id_completion_date').datepicker({
      dateFormat: "dd-mm-yy"
    });
  </script>

  <!-- To separate the numbers in a number fields with comma whenever user enters digits -->
  <script src="/static/custom/custom_js.js"></script>

{% endblock extra_javascripts %}