<ul class="nav nav-tabs">
  <li id="renovation-overview"><a href="{% url 'dashboard:deals:renovation_details' deal_id %}">Overview</a></li>
  <li id="renovation-team"><a href="{% url 'dashboard:deals:renovation_team' deal_id %}">Team</a></li>
  <li id="renovation-external"><a href="{% url 'dashboard:deals:renovation_external' deal_id %}">External</a></li>
  <li id="renovation-rooms"><a href="{% url 'dashboard:deals:renovation_rooms' deal_id %}">Internal</a></li>
  <li id="renovation-images"><a href="{% url 'dashboard:deals:renovation_images' deal_id %}">Images</a></li>
</ul>