{% extends "dashboard/base.html" %}
{% load widget_tweaks %}

{% block title %} Renovation Room {% endblock title %}

{% block stylesheets %}
	{{ block.super }}
	<style type="text/css">
		form > .x_panel {
			border-top: 0px !important;
		}
	</style>
{% endblock stylesheets %}

{% block content %}
	<div class="right_col" role="main">
		<div class="x_content">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
						<div class="x_title">
							{% include 'deals/deals_navbar.html' with deal_id=deal_id lead_id=lead_id %}
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<div class="container">

								{% include 'deals/renovation/renovation_details_navbar.html' %}

								<div class="tab-content">
									<div id="land-details-div" class="tab-pane fade in active">
										{% if messages %}
											<ul class="messages">
													{% for message in messages %}
														{% ifequal message.tags "submitted success" %}
															<div class="alert alert-success col-xs-12">
																<strong class="{{ message.tags }}">{{ message }}</strong>
															</div>
														{% endifequal %}
													{% endfor %}
											</ul>
										{% endif %}
										<form method="POST" action="" class="form-horizontal form-label-left">
											{% csrf_token %}
											<div class="x_panel">
												<div class="col-md-12 col-sm-12 col-xs-12">
													<div class="x_title">
														<a href="{% url 'dashboard:deals:renovation_rooms' deal_id %}" class="btn btn-primary" id="go-back-btn">Go Back</a>
														<h2>Renovation Rooms Details</h2>
														<div class="clearfix"></div>
													</div>
													<!-- <div class="col-md-9 col-sm-9 col-xs-12">
														<h2 class="form-title">Room Overview</h2>
													</div> -->
													<div class="x_content">
														<div class="form-group">
															<label class="control-label col-md-3 col-sm-3 col-xs-12"> Room </label>
															<div class="col-md-6 col-sm-6 col-xs-12">
																<select class="form-control ve-sh-select-option">
																	{% for room in all_rooms %}
																		<option value="{{ room.id }}" id="id_{{ room.id }}">{{ room }}</option>
																	{% endfor %}
																</select>
															</div>
														</div>
														<div class="ve-sh-select-details">
															<input type="text" class="hidden ve-sh-hidden-field" name="selected-room-id" value="{{room_id}}">
															<div class="form-group ">
																<label class="control-label col-md-3 col-sm-3 col-xs-12"> {{ selected_room_form.start_date.label }}</label>
																<div class="col-md-6 col-sm-6 col-xs-12">
																	{{ selected_room_form.start_date|add_error_class:"ve-sh-error-block" }} {{ selected_room_form.start_date.help_text }}
																</div>
																{% if selected_room_form.errors %}
																	{% for error in selected_room_form.start_date.errors %}
																		<div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
																			{{ error|escape }}
																		</div>
																	{% endfor %}
																{% endif %}
															</div>
															<div class="form-group ">
																<label class="control-label col-md-3 col-sm-3 col-xs-12"> {{ selected_room_form.completion_date.label }}</label>
																<div class="col-md-6 col-sm-6 col-xs-12">
																	{{ selected_room_form.completion_date|add_error_class:"ve-sh-error-block" }} {{ selected_room_form.completion_date.help_text }}
																</div>
																{% if selected_room_form.errors %}
																	{% for error in selected_room_form.completion_date.errors %}
																		<div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
																			{{ error|escape }}
																		</div>
																	{% endfor %}
																{% endif %}
															</div>
															<div class="form-group">
																<label class="control-label col-md-3 col-sm-3 col-xs-12"> {{ selected_room_form.duration.label }} <small>(Days)</small> </label>
																<div class="col-md-6 col-sm-6 col-xs-12">
																	{{ selected_room_form.duration|add_error_class:"ve-sh-error-block" }} {{ selected_room_form.duration.help_text }}
																</div>
																{% if selected_room_form.errors %}
																	{% for error in selected_room_form.duration.errors %}
																		<div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
																			{{ error|escape }}
																		</div>
																	{% endfor %}
																{% endif %}
															</div>
															<div class="form-group">
																<label class="control-label col-md-3 col-sm-3 col-xs-12"> {{ selected_room_form.room_budget.label }} <small>($)</small> </label>
																<div class="col-md-6 col-sm-6 col-xs-12 ve-sh-number-js" title="Enter Value">
																	{{ selected_room_form.room_budget|add_error_class:"ve-sh-error-block" }} {{ selected_room_form.room_budget.help_text }}
																</div>
																{% if selected_room_form.errors %}
																	{% for error in selected_room_form.room_budget.errors %}
																		<div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
																			{{ error|escape }}
																		</div>
																	{% endfor %}
																{% endif %}
															</div>
															<div class="form-group">
																<label class="control-label col-md-3 col-sm-3 col-xs-12"> {{ selected_room_form.status.label }} </label>
																<div class="col-md-6 col-sm-6 col-xs-12 ve-sh-number-js" title="Enter Value">
																	{{ selected_room_form.status|add_error_class:"ve-sh-error-block" }} {{ selected_room_form.status.help_text }}
																</div>
																{% if selected_room_form.errors %}
																	{% for error in selected_room_form.status.errors %}
																		<div class="col-sm-offset-3 col-md-9 col-sm-9 col-xs-12 ve-sh-error-text">
																			{{ error|escape }}
																		</div>
																	{% endfor %}
																{% endif %}
															</div>
															{% include 'deals/renovation/renovation_room_navbar.html' %}
															<br>

															<div class="x_title">
																<h2>Tasks For Myself</h2>
																<div class="clearfix"></div>
															</div>
															{{ internal_tasks_for_myself_formset.management_form }}
															<div class="form-group">
																<div class="col-md-12 col-sm-12 col-xs-12">
																	<div class="col-md-6 col-sm-6 col-xs-12">
																		<strong>Tasks</strong>
																	</div>
																	<div class="col-md-6 col-sm-6 col-xs-12">
																		<strong>Status</strong>
																	</div>
																</div>
															</div>
															{% for form in internal_tasks_for_myself_formset %}
																<div class="task_for_myself_form_div col-sm-12 col-xs-12">
																	<div class="hidden">{{ form.id }}</div>
																	<div class="col-md-6 col-sm-6 col-xs-12 ve-sh-pad-bottom">
																		{{ form.task_name|default_if_none:""|add_error_class:"ve-sh-error-block" }}
																		{% if form.errors %}
																			{% for error in form.task.errors %}
																				<div class="ve-sh-error-text">
																					{{ error|escape }}
																				</div>
																			{% endfor %}
																		{% endif %}
																	</div>
																	<div class="col-md-6 col-sm-6 col-xs-12 ve-sh-pad-bottom">
																		{{ form.completion_status|default_if_none:""|add_error_class:"ve-sh-error-block" }}
																		{% if form.errors %}
																			{% for error in form.status.errors %}
																				<div class="ve-sh-error-text">
																					{{ error|escape }}
																				</div>
																			{% endfor %}
																		{% endif %}
																	</div>
																</div>
															{% endfor %}
															<div class="form-group">
																<div class="col-xs-12">
																	<div class="col-xs-12">
															        	<a class="btn btn-primary add-task-for-myself-button">Add Task</a>
															        	<a class="btn btn-primary remove-task-for-myself-button">Remove Task</a>
															    	</div>
																</div>
					                    					</div><br>

															<div class="x_title">
																<h2>Room Tasks</h2>
																<div class="clearfix"></div>
															</div>
															{% if tasks_formset %}
																<div class="form-group ">
																	<div class="col-md-12 col-sm-12 col-xs-12">
																		<div class="col-md-2 col-sm-2 col-xs-12">
																			<strong>Trades Men</strong>
																		</div>
																		<div class="col-sm-10 col-xs-12 ve-sh-left-pad-null">
																			<div class="col-md-5 col-sm-5 col-xs-12">
																				<strong>Tasks</strong>
																			</div>
																			<div class="col-md-1 col-sm-1 col-xs-12">
																				<strong>Status</strong>
																			</div>
																			<div class="col-md-2 col-sm-2 col-xs-12">
																				<strong>Quote #</strong>
																			</div>
																			<div class="col-md-2 col-sm-2 col-xs-12">
																				<strong>Invoice #</strong>
																			</div>
																			<div class="col-md-2 col-sm-2 col-xs-12">
																				<strong>Total ($)</strong>
																			</div>
																		</div>
																	</div>
																</div><hr class="ve-sh-margin-null">
																<div class="form-group">
																	<div class="col-md-12 col-sm-12 col-xs-12">
																		{% for formset_name, formset_and_member in tasks_formset.items %}
																			<!-- <div class="ve-sh-member-block"> -->
																			{% for objects in formset_and_member %}
																				{% if forloop.counter == 1 %}
																					<div class="col-md-2 col-sm-2 col-xs-12">
																						<strong>{{ objects.contact_name }} ( {{ objects.sub_category }} )</strong>
																					</div>
																				{% else %}
																					<div class="col-sm-10 col-xs-12 total-tasks-parent-div ve-sh-left-pad-null">
																					{{ objects.management_form }}
																						{% for form in objects %}
																							<div class="hidden">{{ form.id }}</div>
																							<div class="task_form_div col-sm-12 col-xs-12 ve-sh-left-pad-null">
																								<div class="col-md-5 col-sm-5 col-xs-12 ve-sh-pad-bottom">
																									{{ form.task|default_if_none:""|add_error_class:"ve-sh-error-block" }}
																									{% if form.errors %}
																										{% for error in form.task.errors %}
																											<div class="ve-sh-error-text">
																												{{ error|escape }}
																											</div>
																										{% endfor %}
																									{% endif %}
																								</div>
																								<div class="col-md-1 col-sm-1 col-xs-12 ve-sh-pad-bottom">
																									{{ form.status|default_if_none:""|add_error_class:"ve-sh-error-block" }}
																									{% if form.errors %}
																										{% for error in form.status.errors %}
																											<div class="ve-sh-error-text">
																												{{ error|escape }}
																											</div>
																										{% endfor %}
																									{% endif %}
																								</div>
																								<div class="col-md-2 col-sm-2 col-xs-12 ve-sh-pad-bottom">
																									{{ form.quote_number|default_if_none:""|add_error_class:"ve-sh-error-block" }}
																									{% if form.errors %}
																										{% for error in form.quote_number.errors %}
																											<div class="ve-sh-error-text">
																												{{ error|escape }}
																											</div>
																										{% endfor %}
																									{% endif %}
																								</div>
																								<div class="col-md-2 col-sm-2 col-xs-12 ve-sh-pad-bottom">
																									{{ form.invoice_number|default_if_none:""|add_error_class:"ve-sh-error-block" }}
																									{% if form.errors %}
																										{% for error in form.invoice_number.errors %}
																											<div class="ve-sh-error-text">
																												{{ error|escape }}
																											</div>
																										{% endfor %}
																									{% endif %}
																								</div>
																								<div class="col-md-2 col-sm-2 col-xs-12 ve-sh-number-js ve-sh-task-total ve-sh-pad-bottom">
																									{{ form.total|default_if_none:""|add_error_class:"ve-sh-error-block" }}
																									{% if form.errors %}
																										{% for error in form.total.errors %}
																											<div class="ve-sh-error-text">
																												{{ error|escape }}
																											</div>
																										{% endfor %}
																									{% endif %}
																								</div>
																							</div>
																						{% endfor %}
																					</div>
																				{% endif %}
																			{% endfor %}
																			<div class="form-group">
																				<div class="col-sm-10 col-xs-12 col-sm-offset-2">
																		        	<a class="btn btn-primary add-task-button">Add Task</a>
																		        	<a class="btn btn-primary remove-task-button">Remove Task</a>
																				</div>
														                    </div>
																			<!-- </div> -->
																		{% endfor %}
																        <div class="col-sm-offset-2 col-sm-10 col-xs-12 ve-sh-left-pad-null">
																          <div class="form-group">
																            <label class="control-label col-sm-10 col-xs-12"> Total Cost <small>($)</small> </label>
																            <div class="col-sm-2 col-xs-12 ve-sh-number-js">
																              <input type="text" name="total_cost" id="id_total_cost" class="form-control" maxlength="50" placeholder="Total Cost">
																            </div>
																          </div>
																        </div>
																		<div class="col-sm-offset-2 col-sm-6 col-xs-12">
																			<input type="submit" value="Submit" class="btn btn-success" />
																		</div>
																	</div>
																</div>
															{% else %}
																<p class="h5 col-xs-12">Please <strong><a href="{% url 'dashboard:deals:renovation_team' deal_id %}">Add Team Members</a></strong> first to allot tasks</p>
															{% endif %}
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
{% endblock content %}

{% block javascripts %}
	{{ block.super}}
	<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

	<script type="text/javascript">
		$("#renovation-rooms, #deal-card, #renovation-details, #renovation-room-tasks").addClass("active");

		$('#id_start_date, #id_completion_date').datepicker({
			dateFormat: "dd-mm-yy"
		});

		// For Room's select option on page load
		var room_id = "{{room_id}}";
		($(".ve-sh-select-option").children()).each(function(index){
			if ($(this).attr("value") == room_id) {
				$(this).attr("selected", true);
			}
		});

		// When the user clicks on add task button, an extra field is displayed to the user
		$(document).on('click', '.add-task-button', function(){
			var parent_block = $(this).parent().parent().prev().children().last();
			var id = parent_block.children().children().attr("id").split("-")[0].split("_")[2];
			cloneTask(parent_block, 'tasks', id);
		});

		function cloneTask(selector, type, id) {
				var newElement = selector.clone(true);
				var total = $('#id_' + type + '_' + id +  '-TOTAL_FORMS').val();
				newElement.find(':input').each(function() {
						var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
						var id = 'id_' + name;
						$(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
				});
				total++;
				$('#id_' + type + '_' + id + '-TOTAL_FORMS').val(total);
				selector.after(newElement);
		}

		// Remove an task form from the list of task forms
		$(document).on('click', '.remove-task-button', function(){
			var parent_block = $(this).parent().parent().prev().children().last();
			var id = parent_block.children().children().attr("id").split("-")[0].split("_")[2];
			var form_id = parent_block.children().children().attr("name").split("-")[1];
			if(parseInt(form_id) != 0){
				deleteTask(parent_block, 'tasks', id);
			}
		});

		function deleteTask(selector, type, id) {
			var total = $('#id_' + type + '_' + id + '-TOTAL_FORMS').val();
			total--;
			$('#id_' + type + '_' + id + '-TOTAL_FORMS').val(total);
			selector.remove();
		}

		// On page load
		$(".total-tasks-parent-div").each(function(){
			var total = 0;
			$(this).children().find("input[placeholder='Total']").each(function(){
				var value = parseInt($(this).val().replace(/(\,)/g, ''));
				if ($.isNumeric(value)) {
					total = total + value;
				}
			});
			total = total.toString();
			$(this).next().children().find(".trades-man-total > input").val(total.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));
		});

		// Script for adding all the total and putting it to room_total_cost field
		$(document).on("keyup", "input[placeholder='Total']",  function() {
			var total = 0;
			$("input[placeholder='Total']").each(function() {
				var value = parseInt($(this).val().replace(/(\,)/g, ''));
				if ($.isNumeric(value)) {
					total = total + value;
				}
			})
			total = total.toString();
			$("#id_total_cost").val(total.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));

			var parent_div = $(this).parent().parent().parent();
			total = 0;
			parent_div.children().find("input[placeholder='Total']").each(function(){
				var value = parseInt($(this).val().replace(/(\,)/g, ''));
				if ($.isNumeric(value)) {
					total = total + value;
				}
			});
			total = total.toString();
			parent_div.next().children().find(".trades-man-total > input").val(total.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"));
		})

		// On page load
		var total = 0;
		$(".ve-sh-task-total").children().each(function() {
			var value = parseInt($(this).val().replace(/(\,)/g, ''));
			if ($.isNumeric(value)) {
				total = total + value;
			}
		})
		total = total.toString();
		$("#id_total_cost").val(total.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,"))

		// If user selects any other room from drop-down
		$(".ve-sh-select-option").change(function() {
			var deal_id = "{{deal_id}}";
			var room_id = $(this).val();
			var current_url = "{{ request.path }}";
			var whole_url = current_url.split("/");
			var last_url = whole_url.pop();
			if (last_url == "overview") {
				$(".ve-sh-select-details").load("/dashboard/deals/" + deal_id + "/renovation-details/rooms/" + room_id + "/overview/select-details");
			}
			else if (last_url == "tasks") {
				$(".ve-sh-select-details").load("/dashboard/deals/" + deal_id + "/renovation-details/rooms/" + room_id + "/tasks/select-details");
			}
	        else if (last_url == "materials") {
	          $(".ve-sh-select-details").load("/dashboard/deals/" + deal_id + "/renovation-details/rooms/" + room_id + "/materials/select-details");
	        }
		});

		// Add and remove for tasks for myself
		$(document).on('click', '.add-task-for-myself-button', function(){
	      var parent_block = $(".task_for_myself_form_div").last();
	      cloneTaskForMyself(parent_block, 'internal_tasks_for_myself');
	    });

	    function cloneTaskForMyself(selector, type) {
	        var newElement = selector.clone(true);
	        var total = $('#id_' + type + '-TOTAL_FORMS').val();
	        newElement.find(':input').each(function() {
	            var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
	            var id = 'id_' + name;
	            $(this).attr({'name': name, 'id': id}).val('');
	        });
	        total++;
	        $('#id_' + type + '-TOTAL_FORMS').val(total);
	        selector.after(newElement);
	    }

	    // When the user clicks on remove material button, that field is removed 
	    $(document).on('click', '.remove-task-for-myself-button', function(){
	      var parent_block = $(".task_for_myself_form_div").last();
	      removeTaskForMyself(parent_block, 'internal_tasks_for_myself');
	    });

	    function removeTaskForMyself(selector, type) {
	        var total = $('#id_' + type + '-TOTAL_FORMS').val();
	        total--;
	        $('#id_' + type + '-TOTAL_FORMS').val(total);
	        selector.remove();
	    }

	    $(document).on('change', '#id_start_date, #id_completion_date', function() {
	    	var start_date = $('#id_start_date').val();
	    	var completion_date = $('#id_completion_date').val();
	    	var start_date_array = start_date.toString().split('-');
	    	var completion_date_array = completion_date.toString().split('-');
	    	var new_start_date = new Date(start_date_array[2] + '-' + start_date_array[1] + '-' + start_date_array[0]);
	    	var new_completion_date = new Date(completion_date_array[2] + '-' + completion_date_array[1] + '-' + completion_date_array[0]);
	    	var duration = new Date(new_completion_date - new_start_date);
	    	var days = duration/1000/60/60/24;
	    	if ($.isNumeric(days)) {
	    		days = days;
	    	}
	    	else {
	    		days = 0;
	    	}
	    	$('#id_duration').val(days);
	    });


	</script>

	<!-- if user clicks on Renovation in deals navbar then it is handled by an ajax call -->
	<!-- To separate the numbers in a number fields with comma whenever user enters digits -->
	<script src="/static/custom/custom_js.js"></script>

	<script>
		$(document).on("click", "#renovation-details", function() {
			name("{{deal_id}}", "{{lead_id}}");
		});
	</script>
{% endblock javascripts %}
