<ul class="nav nav-tabs">
  <li id="renovation-external-overview"><a href="{% url 'dashboard:deals:renovation_external_location_details' deal_id location_id %}">Location Overview</a></li>
  <li id="renovation-external-tasks"><a href="{% url 'dashboard:deals:renovation_external_location_tasks_details' deal_id location_id %}">Tasks</a></li>
  <li id="renovation-external-material"><a href="{% url 'dashboard:deals:renovation_external_location_materials_details' deal_id location_id %}">Material</a></li>
</ul>