<a onclick="addFormAjax()" class="btn btn-primary pull-right">Add Family</a>

{% if family_list %}
<div class="w-20 pull-right" style="padding:0 2px;margin:0 4px;">
  <div class="w-20 pull-right" style="padding:0 2px;margin:0 4px;">
    <select class="form-control" id="selectFamily2">
      <option value="all" selected>Show All </option>
      <option value="active">Show Active</option>
      <option value="inactive">Show Inactive</option>
    </select>
  </div>
</div>
<table id="table" class="table table-striped">
  <thead>
    <tr>
      <th>Select</th>
      <th>Contact Name</th>
      <th>Company</th>
      <th>Postal Address</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for family in family_list %}
    <tr class="status-{{family.select}}"> 
      {% if family.select == True %}
      <td><input type="checkbox" onclick="change_s_status(this, false)" value="{{family.id}}" checked></td>
      {% else %}
      <td><input type="checkbox" onclick="change_s_status(this, true)" value="{{family.id}}"></td>
      {% endif %}

      <td>{{family.name}}</td>
      <td>{{family.company}}</td>
      <td>{{family.address}}</td>
      <td>{{family.phone}}</td>
      <td>{{family.email}}</td>

      <td><a onclick="editFamily(this)" title="{% url 'dashboard:deals:family_edit' family.id %}"
          class="btn btn-info btn-xs">
          <i class="fa fa-pencil"></i> Edit</a></td>
      <td><a onclick="deleteFamily(this)" title="{% url 'dashboard:deals:family_delete' family.id %}"
          class="btn btn-danger btn-xs ve-sh-del-contact">
          <i class="fa fa-trash-o"></i> Delete</a></td>
    </tr>
    {%endfor%}
  </tbody>
</table>


{% else %}
<div class="p-4">
  No Family Found !
</div>
{% endif%}

<script>

  $('#selectFamily2').on('change', function (e) {
    if(this.value == 'all'){
      $('.status-True').css('display','table-row');
      $('.status-False').css('display','table-row');
    }else if(this.value == 'active'){
      $('.status-True').css('display','table-row');
      $('.status-False').css('display','none');
    }else {
      $('.status-True').css('display','none');
      $('.status-False').css('display','table-row');
    }
    //loadagent(this.value);
  });
  function change_s_status(x,y) {
    var d = ''.concat(x.value).concat(';').concat(y)
    var saveData = $.ajax({
      type: 'POST',
      url: "familychangestatus/",
      data: d,
      headers: {"X-CSRFToken": '{{csrf_token}}'},
      dataType: "text",
      success: function(resultData) { loadFamily(); }
    });
    
  }
</script>

<script>

  $('#selectFamily').on('change', function (e) {
    loadFamily(this.value);
  });
</script>



<script>
  function addFormAjax() {
    $('#myModal').modal('show');
    urlPATH = "{% url 'dashboard:deals:family_create' %}";
    $('.modal-body').load(urlPATH);

  }

  function editFamily(tag) {
    $('#myModal').modal('show');
    urlPATH = tag.title;
    console.log(urlPATH);
    $('.modal-body').load(urlPATH);
  }

  function deleteFamily(tag) {
    $('#myModal').modal('show');
    urlPATH = tag.title;
    console.log(urlPATH);
    $('.modal-body').load(urlPATH);
  }

</script>